
.client-content {
  padding: 4rem 1rem;
  background-color: var(--extra-light);
  border-radius: 1rem;
}

.client-content :is(.section-header, .section-description) {
  max-width: 550px;
  margin-inline: auto;
  text-align: center;
}

.client-content .section-header {
  font-size: 3.25rem;
}

.swiper {
  margin-top: 4rem;
  width: 100%;
}

.client-card {
  display: grid;
  gap: 2rem;
  max-width: 750px;
  margin-inline: auto;
  text-align: center;
}

.client-card img {
  max-width: 250px;
  margin-inline: auto;
}

.client-card p {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  color: var(--text-light);
  font-style: italic;
}

.client-card h4 {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--text-dark);
}

.client-card h5 {
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-light);
}

@media (width > 768px) {
    .client-card {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        text-align: left;
    }
}